<%- include('partials/header') -%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                </div>
                <div class="table-responsive">
                    <% users.forEach((el, i) => { %>
                        <form action="/dashboard/users" method="POST">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Discord Id</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Discord</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Nickname</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" id="accessLevel">Access
                                        Level
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" id="rank">Rank</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="pl-4"><%= i + 1 %></td>
                                    <td class="font-medium mb-0">
                                        <input class="input" type="text" name="id" readonly="readonly" value="<%= el.discordId %>">
                                    </td>
                                    <td>
                                        <input class="input" type="text" readonly="readonly"
                                               value="<%= el.username %>#<%= el.discriminator %>">
                                    </td>
                                    <td>
                                        <input class="input" type="text" readonly="readonly" value="<%= el.nickname %>"><br>
                                    </td>
                                    <td>
                                        <% if (user.discordId === el.discordId) { %>
                                            <div class="select">
                                        <select disabled name="accessLevel">
                                            <% } else { %>
                                                <div class="select">
                                            <select name="accessLevel">
                                                <% } %>
                                                <option selected disabled><%= el.level %></option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                                </div>
                                    </td>
                                    <td>
                                        <% if (user.discordId === el.discordId) { %>
                                        <div class="select">
                                        <select disabled name="rank">
                                            <% } else { %>
                                            <div class="select">
                                            <select name="rank">
                                                <% } %>
                                                <option selected disabled><%= el.rank %></option>
                                                <option value="1">Кадет ПА</option>
                                                <option value="2">Офицер</option>
                                                <option value="3">Сержант</option>
                                                <option value="4">Лейтенант</option>
                                                <option value="5">Капитан</option>
                                                <option value="6">Коммандер</option>
                                                <option value="7">Зам. Шерифа</option>
                                            </select>
                                            </div>
                                    </td>
                                    <td>
                                        <% if (user.discordId === el.discordId) { %>
                                            <button disabled type="submit"
                                                    class="btn btn-outline-info btn-circle btn-md btn-circle ml-1"><i
                                                        class="fa fa-save"></i></button>
                                        <% } else { %>
                                            <button type="submit"
                                                    class="btn btn-outline-info btn-circle btn-md btn-circle ml-1"><i
                                                        class="fa fa-save"></i></button>
                                        <% } %>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>